<%- include ('../partials/header') %>

<div class="container" style="margin-bottom: 10px;">

    <h1>This is the Sandwiches menu page</h1>
    <a href="/sandwiches/new" class="btn btn-info">Add new sandwiches</a>
</div>
<div class="container">
    <div class="container">
        <div class="row" style="display:flex; flex-wrap:wrap;">
            <% sandwiches.forEach((sandwich)=>{ %>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= sandwich.image %>">
                        <div class="caption">
                            <h4><%= sandwich.name%></h4>
                        </div>
                        <p>
                            <a href="/sandwiches/<%= sandwich._id %>" class="btn btn-primary text-center" >More info</a>
                        </p>
                    </div>
                </div>
             <% }); %>
        </div>
    </div>
</div>

 <%- include ('../partials/footer') %>